body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-container_holder{
    display: block;
    width: 800px;
    margin: 10px auto;
    padding: 20px;

}
.profile-container {
    display: block;
    float: left;
    width: calc( 100% - 40px );
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.userNidHolder{
    display: block;
    float: left;
    width: 100%;
    position: relative;
}
.userNidfrontside, .userNidfrontside{
    display: block;
    float: left;
    width: calc(50% - 40px);
    position: relative;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.userNidfrontsideText{
    padding: 10px 0px;

}
.profile-header {
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-header h1 {
    margin: 0;
    font-size: 24px;
}

.profile-header p {
    margin: 10px 0;
    color: #555;
}

.profile-body {
    margin-top: 20px;
}

.profile-body h2 {
    font-size: 20px;
}

.profile-body p {
    color: #555;
}

.imageProfile{
    display: block;
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profileInfoHolder{
    display: block;
    float: left;
    position: relative;
    width: calc( 100% - 150px );
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    margin-bottom: 16px;
    padding: 8px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.notifyActivateMessage{
    color: #E91E63;
}
.waitingForVerify{
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.waitingForVerifytext{
    color: #e35887;
}

.userNidfrontsideImg, .userNidfrontsideImg{
    display: block;
    width: 100%;
    margin: auto;
}

@media (max-width: 800px) {
    .profile-container_holder {
        display: block;
        width: calc( 100% - 40px );
        padding: 10px;
        margin: 10px 10px;
    }
    .profile-container {
        display: block;
        float: left;
        width: calc( 100% - 40px );
        padding: 10px;
        margin: 10px 10px;
    }
}
@media (max-width: 550px) {
    .profileInfoHolder{
        width: calc( 100% - 20px );
        padding: 10px;
        text-align: center;
    }
    .profile-body{
        text-align: center;
    }
    .imageProfile {
        display: block;
        float: none;
        position: relative;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        /*margin-right: 8px;*/
        border: 1px solid #939090;
        margin: auto;
    }
}
@media (max-width: 650px) {
    .userNidfrontside, .userNidfrontside {
        display: block;
        float: left;
        width: calc(100% - 40px);
        position: relative;
        margin: 5px;
        padding: 10px;
        text-align: center;
    }
}
